@import "tailwindcss";

@layer base {
	:root {
		--primary: oklch(0 0 0);
	}

	* {
		@apply select-none touch-manipulation transition-all;
	}

	body {
		@apply h-screen font-sans bg-[url(/images/bg.jpg)] bg-cover bg-center bg-no-repeat bg-black;
	}

	h1 {
		@apply text-shadow-[-3px_-3px_0_#ffffff,_0px_-3px_0_#ffffff,_3px_-3px_0_#ffffff,_-3px_0px_0_#ffffff,_3px_0px_0_#ffffff,_-3px_3px_0_#ffffff,_0px_3px_0_#ffffff,_3px_3px_0_#ffffff];
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	.blink {
		animation: blink 1s infinite;
	}
}
